    <footer id="footer-content" class="bg-grau" style="margin-top: 20px; margin-bottom:0;">
      <div id="subfooter" style="padding-top:10px;">
        <nav class="row">
          <section id="subfooter-right" class="small-12 medium-12 columns social-icons">
<center>Centro Ganesha - Buenos Aires, Argentina&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<b class="tel">15-6377-2326</b> / <b class="tel">15-6358-0574</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:ganeshacentro@gmail.com" class="email" style="color:lightblue;">ganeshacentro@gmail.com</a></center>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
